<div class="bouquet-additional">
    <div class="container">
        <div class="bouquet-additional__title title">
            <h2 class="bold">Добавь к подарку</h2>
        </div>
        <div class="bouquet-additional__cards cards-bouquet">
            <div class="cards-bouquet__item">
                <div class="cards-bouquet__img ibg hit">
                    <img src="@img/img_2.png" alt="">
                </div>
                <div class="cards-bouquet__name"><h5>Клубника в шоколаде</h5></div>
                <div class="cards-bouquet__info"><span class="regular">Молочный шоколад</span></div>
                <div class="cards-bouquet__price"><span>500₽</span></div>
                <div class="cards-bouquet__other counter">
                <span class="counter__minus">
                    <svg width="15" height="3" viewBox="0 0 15 3" fill="none"
                                                  xmlns="http://www.w3.org/2000/svg"><path
                    d="M1.24268 1.24255L13.2427 1.24255" stroke="#2C2D2E" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path></svg></span>
                    <input type="number" name="number" min="1" value="1" readonly="" class="counter__number">
                    <span class="counter__plus">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <rect width="20" height="20" rx="10" fill="white"></rect>
                                    <path d="M10.2427 4.24268L10.2427 16.2427" stroke="#2C2D2E" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M4.24268 10.2426L16.2427 10.2426" stroke="#2C2D2E" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </span>
                </div>
            </div>
            <div class="cards-bouquet__item">
                <div class="cards-bouquet__img ibg hit">
                    <img src="@img/img_1.png" alt="">
                </div>
                <div class="cards-bouquet__name"><h5>Фотография</h5></div>
                <div class="cards-bouquet__info"><span class="regular">6,2 х 6,2 см</span></div>
                <div class="cards-bouquet__price"><span>300₽</span></div>
                <div class="cards-bouquet__other counter">
                <span class="counter__minus"><svg width="15" height="3" viewBox="0 0 15 3" fill="none"
                                                  xmlns="http://www.w3.org/2000/svg"><path
                    d="M1.24268 1.24255L13.2427 1.24255" stroke="#2C2D2E" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path></svg></span>
                    <input type="number" name="number" min="1" value="1" readonly="" class="counter__number">
                    <span class="counter__plus">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <rect width="20" height="20" rx="10" fill="white"></rect>
                                    <path d="M10.2427 4.24268L10.2427 16.2427" stroke="#2C2D2E" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M4.24268 10.2426L16.2427 10.2426" stroke="#2C2D2E" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </span>
                </div>
            </div>
            <div class="cards-bouquet__item ">
                <div class="cards-bouquet__img ibg hit-background">
                    <img src="@img/img_2.png" alt="">
                </div>
                <div class="cards-bouquet__name"><h5>Клубника в шоколаде</h5></div>
                <div class="cards-bouquet__info"><span class="regular">Молочный шоколад</span></div>
                <div class="cards-bouquet__price"><span>500₽</span></div>
                <div class="cards-bouquet__other counter">
                <span class="counter__minus"><svg width="15" height="3" viewBox="0 0 15 3" fill="none"
                                                  xmlns="http://www.w3.org/2000/svg"><path
                    d="M1.24268 1.24255L13.2427 1.24255" stroke="#2C2D2E" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path></svg></span>
                    <input type="number" name="number" min="1" value="1" readonly="" class="counter__number">
                    <span class="counter__plus">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <rect width="20" height="20" rx="10" fill="white"></rect>
                                    <path d="M10.2427 4.24268L10.2427 16.2427" stroke="#2C2D2E" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M4.24268 10.2426L16.2427 10.2426" stroke="#2C2D2E" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </span>
                </div>
            </div>

        </div>
    </div>
</div>