<div class="bouquet-info">
    <div class="bouquet-info__gallery swiper-container swiper discount-20 " id="gallery">
        <div class="bouquet-info__list swiper-wrapper  ">
            <div class=" swiper-slide">
                <div class="ibg ">
                    <img src="@img/img_5.png" alt="">

                </div>
            </div>
            <div class=" swiper-slide">
                <div class="ibg">
                    <img src="@img/img_1.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="ibg">
                    <img src="@img/img_2.png" alt="">
                </div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

    </div>
    <!-- Swiper -->


</div>
<div class="container">
    <div class="bouquet-info__title title">
        <h1 class="bold">Букет в корзине</h1>
    </div>
    <div class="bouquet-info__price">
        <span>6 040₽</span>
        <span class="old">7 040₽</span>
    </div>
    <div class="bouquet-info__size">
        <div class="bouquet-info__title">
            <h3 class="bold">Размер букета</h3>
        </div>
        <div class="bouquet-info__other select-ul select">
            <button type="button" class="bouquet-info__toggle select-ul__toggle regular" name="S" value="ford"
                    data-select="toggle" data-index="0">Выберите из списка
            </button>

            <ul>
                <li class=" select__option_selected" data-select="option"
                    data-value="S" data-index="0">Размер S
                </li>
                <li data-select="option" data-value="SL" data-index="1">
                    Размер SL
                </li>
                <li data-select="option" data-value="X" data-index="2">Размер
                    X
                </li>
                <li data-select="option" data-value="XL" data-index="3">
                    Размер XL
                </li>
            </ul>
        </div>
        <div class="bouquet-info__button">

            <input type="button" value="В корзину" class="button">
        </div>
    </div>
    <div class="bouquet-info__characteristics characteristics-bouquet">
        <div class="characteristics-bouquet__title "><h3 class="bold">Характеристики</h3></div>
        <div class="characteristics-bouquet__row">
            <div class="characteristics-bouquet__name"><span>Цвет</span></div>
            <div class="characteristics-bouquet__value"><span>Розовый</span></div>
        </div>
        <div class="characteristics-bouquet__row">
            <div class="characteristics-bouquet__name"><span>Размер товара на фото</span></div>
            <div class="characteristics-bouquet__value"><span>40х50см</span></div>
        </div>
        <div class="characteristics-bouquet__row">
            <div class="characteristics-bouquet__name"><span>Тип комплекта</span></div>
            <div class="characteristics-bouquet__value"><span>Подарочный набор</span></div>
        </div>
    </div>
</div>

