# Игнорируем следующие файлы и папки:

# Файлы IDE
.vscode/

# Файлы сборки и дистрибуции
*.zip
dist/
node_modules/
package-lock.json
yarn.lock

# Файлы, используемые для локальной разработки
ftp.js

# Файлы, которые могут создаваться редактором
*.[oa]
*~
.idea

# Файлы журналов и временных файлов
log/
tmp/
pid/
version.json
coverage
