<main class="category">
    <div class="container">
        <div class="category__title title">
            <h2>Цветы</h2>
        </div>
        <ul class="category__list">
            <li class="ibg category__item card">


                <img src="@img/3flow.png" alt="bg">
                <div class="card__title">
                    <a class="link" href="bouquet.html"><h3>Розовая коллекция</h3></a>
                </div>
                <a href="bouquet.html" class="card__arrow">
                    <img src="@svg/arrow.svg" alt="arrow">
                </a>

            </li>
            <li class="ibg category__item card">
                <img src="@img/2flow.png" alt="bg">
                <div class="card__title">
                    <a href="bouquet.html" class="card__arrow">
                        <h3>Голубая коллекция</h3>
                    </a>
                </div>
                <a href="bouquet.html" class="card__arrow">

                    <img src="@svg/arrow.svg" alt="arrow">
                </a>
            </li>
            <li class="ibg card__item card">
                <img src="@img/1flow.png" alt="bg">
                <div class="card__title">
                    <a href="bouquet.html" class="card__arrow"><h3>Жёлтая коллекция</h3></a>
                </div>
                <a href="bouquet.html" class="card__arrow">
                    <img src="@svg/arrow.svg" alt="arrow">
                </a>
            </li>
        </ul>
    </div>
</main>