<section class="information">
    <div class="container">
        <div class="information__title title">
            <h2>Информация</h2>
        </div>
        <div id='carousel' class="swiper-container">
            <ul class="information__list  swiper-wrapper ">
                <li class="information__item card-information swiper-slide">
                    <div class="card-information__text">
                        <h4 class="regular">About product</h4>
                    </div>
                </li>
                <li class="information__item card-information swiper-slide">
                    <div class="card-information__text">
                        <h4 class="regular">Delivery terms</h4>
                    </div>
                </li>
                <li class="information__item card-information swiper-slide">
                    <div class="card-information__text">
                        <h4 class="regular">Terms of payment</h4>
                    </div>
                </li>
                <li class="information__item card-information swiper-slide">
                    <div class="card-information__text">
                        <h4 class="regular">Terms of payment</h4>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</section>